body{
    margin: 0;
}
#container{
    position: relative;
}
#header{
    background-color: coral;
}
.p1{
    height: 30px;
    width: 30px;
}
#hleft{
    display: inline-block;
    width: 40%;
}
#hleft p{
    font-size: 20px;
    color: white;
    padding-left: 200px;
}#hright{
    display: inline-block;
    width: 55%;
}
#hright p{
    padding-left: 300px;
}
#like{
    background-color: teal;
    
}
#like h3{
    text-align: center;
    margin: 0;
    padding-top: 40px;
}
#like img{
    width: 200px;
    height: 230px;
}
#onepiece{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#pic{
    width: 220px;
    height: 280px;
    background-color: seashell;
    text-align: center;
    margin-bottom: 50px;
}
#pic:not(:last-child){
    margin-right: 50px;
}
#footer{
    background-color: coral;
}
#last{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
#lastleftp{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 80px;
}
#lastrirghti{
    margin-top: 50px;
    margin-right: 180px;
}