body{
    margin: 0;
}
#container{
    position: relative;
}
#header{
    background-color: coral;
}
.p1{
    height: 30px;
    width: 30px;
}
#hleft{
    float: left;
}
#hleft p{
    font-size: 20px;
    color: white;
    padding-left: 200px;
}#hright{
    float:right;
    padding-right: 200px;
    padding-top: 30px;
}
#hright p{
    padding-left: 300px;
}
#clear{
    clear: both;
}
#like{
    background-color: teal;
    
}
#like h3{
    text-align: center;
    margin: 0;
    padding-top: 40px;
}
#like img{
    width: 200px;
    height: 230px;
}
#onepiece{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#pic{
    width: 220px;
    height: 280px;
    background-color: seashell;
    text-align: center;
    margin-bottom: 50px;
}
#pic:not(:last-child){
    margin-right: 50px;
}
#footer{
    background-color: coral;
}
#lastleft{
    float: left;
    padding-left: 200px;
    padding-top: 80px;
}
#lastleft span{
    font-size: 30px;
}
#lastright{
    float: right;
    padding-right: 200px;
    padding-top: 20px;
}
